.App {
  text-align: center;
}

.section-container {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  background: tomato;
}

 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
}